<app-fashion-header></app-fashion-header>
<main>
    <app-hero-banner></app-hero-banner>
    <app-category></app-category>
    <app-popular-products></app-popular-products>
    <!-- <app-all-products></app-all-products>
    <app-featured-products></app-featured-products>
    <app-trending-items></app-trending-items>
    <app-best-selling-items></app-best-selling-items>
    <app-testimonial></app-testimonial>
    <app-feature></app-feature>
    <app-instagram-area></app-instagram-area> -->
</main>
<app-footer [style_2]="true"></app-footer>